.project-page {
    box-sizing: border-box;
    background-color: #333333ad;
    width: 87%;
}

.project-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-area .project-page h1 {
    text-align: left;
    margin-bottom: 15px;
}

.project-area:nth-child(2n+1) {
    flex-direction: row-reverse;
}

.project-area:nth-child(2n+1) .project-page h1 {
    text-align: right !important;
}

.projectDescription {
    padding: 10px;
    width: 50%;
    height: auto;
}